---
import Layout from "../layouts/Layout.astro";
import LastDisplay from "../components/LastDisplay.astro";
import ProfileLink from "../components/ProfileLink.astro";
import Sideprojects from "../components/Sideprojects.astro";
import links from "../../public/links.json";
import { inject } from "@vercel/analytics";

inject();
---

<Layout title="timostestseite.">
  <main class="z-0 flex w-full max-w-[70%] flex-col">
    <div class="flex justify-center">
      <h1
        class="mx-1 mt-4 w-fit select-none rounded-lg border-2 border-gray-900 bg-blackAcrylic p-2 text-center text-4xl text-white backdrop-blur-[2px]"
      >
        welcome to my website
      </h1>
    </div>

    <div
      id="profile-links"
      class="mt-8 flex w-full max-w-md flex-col items-center justify-center space-y-2 self-center"
    >
      {
        links.map((link) => {
          return (
            <ProfileLink
              alt={link.alt}
              color={link.color}
              href={link.href}
              icon={link.icon}
              title={link.title}
            />
          );
        })
      }
    </div>

    <Sideprojects />
  </main>

  <footer class="mb-14 flex h-fit w-full justify-center">
    <LastDisplay />
    <span
      id="image-credits"
      class="fixed bottom-0 left-0 rounded-tr-md bg-[rgba(0,0,0,0.8)] px-1 text-sm text-white"
      >Background: Last page of <a
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://mangadex.org/chapter/3994c2e6-b73e-4010-b237-c2d4d6ef07d1/10"
        >"Memories of Emanon"</a
      ></span
    >
  </footer>
</Layout>
